.main {
    height: 100vh;
    width: 100%;

}



.heading {
    padding: 50px;
    text-align: center;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

